@model IEnumerable<DACN_TanPhuNong.Models.tb_PhanHoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phản hồi</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
            @{ 
                if (item.TrangThai == 0)
                {
                    <td><a href="@Url.Action("XuLyPhanHoi","PhanHoi",new { @id=item.MaPH})">Chưa xử lý</a></td>
                }else
                {
                    <td>Đã xem</td>
                }
            }
    </tr>
}
</table>
