<!-- sidebar menu: : style can be found in sidebar.less -->
@{
    int[] arr = new[] {0, 0, 0, 0};
    string[] arrpermit = ((string)Session["Permit"]??"").Split(',');
    for (int i = 0; i < arrpermit.Length; i++)
    {
        arr[int.Parse(arrpermit[i])] = 1;
    }
    
}
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    @if (arr[0] == 1)
    {
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>@GlobalRes.Application</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "UngDung")"><i class="fa fa-circle-o"></i> @GlobalRes.Home</a></li>
                <li><a href="@Url.Action("Abouts", "UngDung")"><i class="fa fa-circle-o"></i> @GlobalRes.About</a></li>
                <li><a href="@Url.Action("LienHe", "UngDung")"><i class="fa fa-circle-o"></i>@GlobalRes.Contact</a></li>
                <li><a href="@Url.Action("Footer", "UngDung")"><i class="fa fa-circle-o"></i>Footer</a></li>
            </ul>
        </li>
    }
    @if (arr[0] == 1)
{
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>@GlobalRes.Team_Manager</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "DoiNguQuanLy")"><i class="fa fa-circle-o"></i> @GlobalRes.List</a></li>
            <li><a href="@Url.Action("Create", "DoiNguQuanLy")"><i class="fa fa-circle-o"></i> @GlobalRes.Add_new</a></li>
        </ul>
    </li>
}
    @if (arr[0] == 1 || arr[1] == 1)
    {
        <li class=" treeview">
            <a href="#">
                <i class="fa fa-object-group"></i> <span>@GlobalRes.Category</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "LoaiSP")"><i class="fa fa-circle-o"></i> @GlobalRes.List</a></li>
                <li><a href="@Url.Action("Create", "LoaiSP")"><i class="fa fa-circle-o"></i> @GlobalRes.Add_new</a></li>
            </ul>
        </li>
    }
    @if (arr[0] == 1 || arr[1] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-product-hunt"></i> <span>@GlobalRes.Products</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "SanPham")"><i class="fa fa-circle-o"></i> @GlobalRes.List</a></li>
                <li><a href="@Url.Action("Create", "SanPham")"><i class="fa fa-circle-o"></i> @GlobalRes.Add_new</a></li>
            </ul>
        </li>
        }
        
    @if (arr[0] == 1 || arr[2] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-newspaper-o"></i> <span>@GlobalRes.thong_bao</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "ThongBao")"><i class="fa fa-circle-o"></i>@GlobalRes.List</a></li>
                <li><a href="@Url.Action("Create", "ThongBao")"><i class="fa fa-circle-o"></i>@GlobalRes.Add_new</a></li>
            </ul>
        </li>
    }
    @*@if (arr[0] == 1 || arr[2] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-puzzle-piece"></i> <span>@GlobalRes.Careers</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "TuyenDung")"><i class="fa fa-circle-o"></i>@GlobalRes.List</a></li>
                <li><a href="@Url.Action("Create", "TuyenDung")"><i class="fa fa-circle-o"></i>@GlobalRes.Add_new</a></li>
            </ul>
        </li>
    }*@
    @if (arr[0] == 1 || arr[2] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-comments"></i> <span>@GlobalRes.Conferences</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Conferences")"><i class="fa fa-circle-o"></i>@GlobalRes.List</a></li>
                <li><a href="@Url.Action("Create", "Conferences")"><i class="fa fa-circle-o"></i>@GlobalRes.Add_new</a></li>
            </ul>
        </li>
    }
    @if (arr[0] == 1 || arr[2] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-picture-o"></i> <span>@GlobalRes.News</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Promotions")"><i class="fa fa-circle-o"></i>@GlobalRes.List</a></li>
                <li><a href="@Url.Action("Create", "Promotions")"><i class="fa fa-circle-o"></i>@GlobalRes.Add_new</a></li>
            </ul>
        </li>
    }
    @if (arr[0] == 1 || arr[2] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-camera-retro"></i> <span>@GlobalRes.Images, Video</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-picture-o"></i><span>Albums</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                            </span>
                    </a>
                    <ul class="treeview-menu">

                        <li><a href="@Url.Action("Index", "Album")"><i class="fa fa-circle-o"></i>@GlobalRes.List</a></li>
                        <li><a href="@Url.Action("Create", "Album")"><i class="fa fa-circle-o"></i>@GlobalRes.Add_new</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-images"></i><span>Video</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">

                        <li><a href="@Url.Action("Index", "ImageVideo")"><i class="fa fa-circle-o"></i>@GlobalRes.List</a></li>
                        <li><a href="@Url.Action("Create", "ImageVideo")"><i class="fa fa-circle-o"></i>@GlobalRes.Add_new</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    }
    @*@if (arr[0] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-building"></i> <span>Văn Phòng</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "VanPhong")"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                <li><a href="@Url.Action("Create", "VanPhong")"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
            </ul>
        </li>
        }*@
    @if (arr[0] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-handshake-o"></i> <span>Đối Tác</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "DoiTac")"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                <li><a href="@Url.Action("Create", "DoiTac")"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
            </ul>
        </li>
    }
    @if (arr[0] == 1)
    {
        <li class=" treeview ">
            <a href="#">
                <i class="fa fa-address-book"></i> <span>Người dùng</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "NguoiDung")"><i class="fa fa-circle-o"></i> Danh sách</a></li>
                <li><a href="@Url.Action("Create", "NguoiDung")"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
            </ul>
        </li>
        }
 
   
    @if (arr[0] == 1)
    {
        <li class="treeview">
            <a href="#">
                <i class="fa fa-puzzle-piece"></i> <span>Phản hồi</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "PhanHoi")"><i class="fa fa-circle-o"></i> Danh sách</a></li>
            </ul>
        </li>
    }

    <li>
        <a href="@Url.Action("Index","NhatKy")">
            <i class="fa fa-history"></i> <span>Lịch sử thao tác</span>
        </a>
    </li>
</ul>
