@model DACN_TanPhuNong.Models.tb_NguoiDung

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm(FormMethod.Get)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tb_NguoiDung</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenDangNhap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDangNhap)
                @Html.ValidationMessageFor(model => model.TenDangNhap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatKhau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhau)
                @Html.ValidationMessageFor(model => model.MatKhau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiND, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <label><input type="checkbox" name="LoaiND" value="0"/>Quản trị viên</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="LoaiND" value="1"/>Quản lý sản phẩm</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="LoaiND" value="2"/>Viết bài tin tức</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="LoaiND" value="3" />Viết bài bài tuyển dụng</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianDNCuoi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThoiGianDNCuoi)
                @Html.ValidationMessageFor(model => model.ThoiGianDNCuoi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
