@model DACN_TanPhuNong.Models.tb_Album

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Albums
        <small>@GlobalRes.List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","UngDung")"><i class="fa fa-dashboard"></i>@GlobalRes.Admin</a></li>
        <li><a class="active">Albums</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@GlobalRes.Add_new</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label class="control-label col-md-2">Tên album</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.TenAlbum, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TenAlbum)
                                </div>
                            </div>
                            
                                <div class="form-group">
                                    <label class="control-label col-md-2">Hình ảnh</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.HinhAnh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.HinhAnh)
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" onclick="chosseImage('HinhAnh')" class="btn btn-primary">Chọn hình</button>
                                    </div>
                                </div>


                            <div class="form-group">
                                <label class="control-label col-md-2">Mô tả</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.MoTa, new {@class="form-control" })
                                    @Html.ValidationMessageFor(model => model.MoTa)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@GlobalRes.Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        @Html.ActionLink(@GlobalRes.back_to_list, "Index")
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
