@model DACN_TanPhuNong.Models.tb_DoiNguQL_Trans

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_DoiNguQL_Trans</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên người quản lý
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiQL)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
           Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
           Câu nói tâm đắc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauNoi)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_DoiNguQuanLy.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
