@using DACN_TanPhuNong.Controllers
@using DACN_TanPhuNong.Models


<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/owl.carousel.css")
    @Styles.Render("~/Content/owl.theme.default.min.css")
    
    @Styles.Render("~/Content/nivo-slider.css")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/admin/font-awesome.min.css")
<style>
.social {
  padding: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


    .social:hover {
        opacity: 0.7;
    }

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
    .nivoSlider {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100%;
    }
        .nivoSlider img {
            top: 0;
            left: 0;
            max-width: none;
            height: 100% !important;
        }
    .logo-company{
        position:absolute;
        margin:30px;
    }
    #logo-home{
        display:none;
        height:60px;
    }
    #logo-home img{
        height:100%;
    }
    .owl-prev {
        width: 30px;
        height: 100px;
        position: absolute;
        top: 35%;
        margin-left: -35px !IMPORTANT;
        display: block !IMPORTANT;
        border: 0px solid black;
        vertical-align: middle;
        background-color: #46454554 !IMPORTANT;
    }

    .owl-next {
        width: 30px;
        height: 100px;
        position: absolute;
        top: 35%;
        right: -35px !IMPORTANT;
        display: block !IMPORTANT;
        border: 0px solid black;
        background-color: #46454554 !IMPORTANT;
    }
        .owl-prev:hover, .owl-next:hover{
            color:black;
        }
        .owl-prev i, .owl-next i {
            transform: scale(1,6);
            color: #ccc;
            margin-top: 40px;
            font-weight: bold;
        }
</style>

    @Scripts.Render("~/Scripts/jquery-3.2.1.slim.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery1.10.1.js")
    @Scripts.Render("~/Scripts/jquery.nivo.slider.js")
    
    
    
    @Scripts.Render("~/Scripts/owl.carousel.js")
    
</head>
<body>
    <div class="logo-company" >
        <img width="100" height="100"  src="/images/logo-tan-phu-nong.png" />
    </div>
    <ul class="langDesktop">
        @Url.LangSwithcher(ViewContext.RouteData, "vi")
        @Url.LangSwithcher(ViewContext.RouteData, "en")
    </ul>
    <header id="header">

        <div class="header-top static-area">
            <div class="container">
                <div class="row">
                    <div class="slider-show">
                        <div id="owl-example" class="nivoSlider">
                            <!--Test-->
                            @{Html.RenderAction("SlideShow", "Home");}
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-menu ">

                        <nav class="nav-menu" style=" background-color: #0000005c;
">
                            <label id="tooget" class="toogget-menu">
                                show
                            </label>
                            <ul id="nav">
                                <li id="text-home" class="@(ViewBag.CurrentMenu =="Home"?"active":"")" ><a href="@Url.Action("Index","Home")">@GlobalRes.Home</a></li>
                                <li id="logo-home" class="@(ViewBag.CurrentMenu =="Home"?"active":"")"><a href="@Url.Action("Index","Home")"><img width="auto" height="100%" src="/images/logo-tan-phu-nong.png" /></a></li>
                                <li class="@(ViewBag.CurrentMenu == "Abouts" ? "active" : "")">
                                    <a href="@Url.Action("Abouts","Home")">@GlobalRes.About</a>
                                    @*<ul class="submenu">
                <li><a href="#">Lịch sử hình thành</a></li>
                <li><a href="#">Sứ mệnh, tầm nhìn và giá trị</a></li>
                <li><a href="#">Đội ngũ quản lý</a></li>
                <li><a href="#">Tuyển dụng</a></li>
            </ul>*@
                                </li>
                                <li class="@(ViewBag.CurrentMenu =="SanPham"?"active":"")">
                                    <a href="#">@GlobalRes.Products</a>
                                    <ul class="submenu">
                                        @{Html.RenderAction("getMenuPhan", "Home");}
                                    </ul>
                                </li>
                                <li class="@(ViewBag.CurrentMenu =="BaiViet"?"active":"")">
                                    <a href="#">@GlobalRes.News_Events_Notification</a>
                                    <ul class="submenu">
                                        <li><a href="@Url.RouteUrl("hinh-anh")">@GlobalRes.Images</a></li>
                                        <li><a href="@Url.RouteUrl("video")">Videos</a></li>
                                        <li><a href="@Url.RouteUrl("news")">@GlobalRes.News</a></li>
                                        <li><a href="@Url.RouteUrl("Conferences")">@GlobalRes.Conferences</a></li>
                                        <li><a href="@Url.RouteUrl("thong_bao")">@GlobalRes.thong_bao</a></li>
                                        <li><a href="@Url.RouteUrl("thong_bao_noi_bo")">@GlobalRes.Internal</a></li>
                                    </ul>
                                </li>
                                <li class="@(ViewBag.CurrentMenu =="DoiTac"?"active":"")"><a href="@Url.Action("DanhSachDoiTac","DoiTacHome")">@GlobalRes.Partners</a></li>

                                <li class="@(ViewBag.CurrentMenu =="PhanHoi"?"active":"")"><a href="@Url.Action("GuiPhanHoi","PhanHoiHome")">@GlobalRes.Contact</a></li>
                            </ul>

                        </nav>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-logo">
                        <div class="site-branding">
                            <div class="site-description">Công ty TNHH SX-TM-DV</div>
                            <h1 class="site-title image-logo">
                                <a href="#" rel="home">
                                    @GlobalRes.TanPhuNong
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clear"></div>
    <div class="content-website">
        @RenderBody()
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
           @{Html.RenderAction("Footer","Home");}
        </div>
    </div>
    
        
        <div class="row" style="width: 100%; height:300px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.2264620946535!2d108.47453814153675!3d11.95881670443595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112f7c1820379%3A0xccfd4d5b51849183!2zMi8xIEjhu5MgWHXDom4gSMawxqFuZywgUGjGsOG7nW5nIDksIFRwLiDEkMOgIEzhuqF0LCBMw6JtIMSQ4buTbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1510061656325" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    
    <script>

        $(document).ready(function () {

            //$("#owl-example").owlCarousel({

            //    loop: true,
            //    items: 1,
            //    singleItem: true,
            //    pagination: true,
            //    rewindSpeed: 500, slideSpeed: 300,
            //    paginationSpeed: 500,
            //    dots: false,
            //    touchDrag: false,
            //    mouseDrag: true,
            //    autoplay: true,
            //    autoplayTimeout: 2000,
            //    autoHeight: false,

            //});
            $('#owl-example').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 1000,
            pauseTime: 3000,
            startSlide: 0,
            directionNav: false,
            controlNav: false,
            controlNavThumbs: false,
            pauseOnHover: false,
            manualAdvance: false
            
        });

            $('#owl-mini-slider').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    768: {
                        items: 2,
                        nav: true
                    },
                    900: {
                        items: 3,
                        nav: true
                    }
                },
                navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']

            });


            var targetElementID = 'nav';
            var classToAppend = 'locked';
            checktarget();
            var bodyRect = document.body.getBoundingClientRect(),
                elemRect = document.getElementById(targetElementID).getBoundingClientRect(),
                offset = elemRect.top - bodyRect.top;

            window.onscroll = function () { checkScroll() };
            window.onresize = function (event) {
                checktarget();
                bodyRect = document.body.getBoundingClientRect(),
                elemRect = document.getElementById(targetElementID).getBoundingClientRect(),
                offset = elemRect.top - bodyRect.top;
            }
            function checktarget() {
                if ($(window).width() <= 768) {
                    targetElementID = "tooget";
                    $('#nav[class="activehover"').toggleClass("activehover")
                            .next();
                }
            }
            function checkScroll() {


                if (elemRect) {
                    if (document.body.scrollTop > offset || document.documentElement.scrollTop > offset) {
                        if (!document.getElementById(targetElementID).className.includes(classToAppend)) {
                            document.getElementById(targetElementID).className = document.getElementById(targetElementID).className + ' ' + classToAppend;
                            $("#text-home").hide();
                            $("#logo-home").show();
                        }
                    } else {
                        document.getElementById(targetElementID).className = document.getElementById(targetElementID).className
                        .replace(' ' + classToAppend, '');
                        $("#text-home").show();
                        $("#logo-home").hide();
                    }
                }
            }

            $('.header-top  .main-menu .nav-menu ul> li').hover(function () {
                //    var submenu =  $(this);//.nextUntil('.submenu').parent();
                //    submenu.addClass('activehover');
                $(this).find('ul.submenu')
                 .toggleClass("activehover")
                 .next();
            });

            $('#tooget').click(function () {
                $(this).next('ul#nav')
                        .toggleClass("activehover")
                        .next();
            });

        });


    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a08970abb0c3f433d4c8c01/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
