@using DACN_TanPhuNong.Controllers
@using DACN_TanPhuNong.Models


<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/owl.carousel.css")
    @Styles.Render("~/Content/owl.theme.default.min.css")
    @Styles.Render("~/Content/owl-custom.css")
    @Styles.Render("~/Content/main.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
</style>
</head>
<body>
    <ul class="langDesktop">
        @Url.LangSwithcher(ViewContext.RouteData, "vi")
        @Url.LangSwithcher(ViewContext.RouteData, "en")
    </ul>
    <header id="header">

        <div class="header-top static-area">
            <div class="container">
                <div class="row">
                    <div class="slider-show">
                        <div id="owl-example" class="owl-carousel">
                            <!--Test-->
                            @{Html.RenderAction("SlideShow", "Home");}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-menu ">

                        <nav class="nav-menu" style=" background-color: #0000005c;
">
                            <label id="tooget" class="toogget-menu">
                                show
                            </label>
                            <ul id="nav">
                                <li class="active"><a href="@Url.Action("Index","Home")">@GlobalRes.Home</a></li>
                                <li>
                                    <a href="@Url.Action("Abouts","Home")">@GlobalRes.About</a>
                                    @*<ul class="submenu">
                                            <li><a href="#">Lịch sử hình thành</a></li>
                                            <li><a href="#">Sứ mệnh, tầm nhìn và giá trị</a></li>
                                            <li><a href="#">Đội ngũ quản lý</a></li>
                                            <li><a href="#">Tuyển dụng</a></li>
                                        </ul>*@
                                </li>
                                <li>
                                    <a href="#">@GlobalRes.Products</a>
                                    <ul class="submenu">
                                       @{Html.RenderAction("getMenuPhan", "Home");}
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">@GlobalRes.News_event</a>
                                    <ul class="submenu">
                                        <li><a href="#">@GlobalRes.Images</a></li>
                                        <li><a href="#">Video</a></li>
                                        <li><a href="#">@GlobalRes.Promotions</a></li>
                                        <li><a href="#">@GlobalRes.Conferences</a></li>
                                        <li><a href="#">@GlobalRes.Careers</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("DanhSachDoiTac","DoiTacHome")">@GlobalRes.Partners</a></li>

                                <li><a href="@Url.Action("GuiPhanHoi","PhanHoiHome")">@GlobalRes.Contact</a></li>
                            </ul>

                        </nav>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-logo">
                        <div class="site-branding">
                            <div class="site-description">Công ty TNHH SX-TM-DV</div>
                            <h1 class="site-title image-logo">
                                <a href="#" rel="home">
                                    @GlobalRes.TanPhuNong
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clear"></div>
    <div class="content-website">
        @RenderBody()
    </div>
    <footer>
        <div class="row footer">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 description-company">
                <h1>Tân phú nông</h1>
                <h3>Vững bước nhà nông</h3>
                <p>
                    Công ty TNHH Sản xuất-Dịch vụ-Thương mại Tân Phú Nông là 1 doanh nghiệp chuyên kinh doanh trong lĩnh vực vật tư nông nghiệp, có trụ sở đặt tại số 1 đường Hồ Xuân Hương, phường 9, thành phố Đà Lạt, tỉnh Lâm Đồng. – Công ty TNHH SX-DV-TM Tân Phú Nông được thành lập ngày 26/04/2005, sau 10 năm hoạt động Công ty đã từng bước trưởng thành và lớn mạnh (mở rộng), mang tính chuyên nghiệp cao.

                </p>
                <p>&copy; 2017| ĐTG</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contact">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h5><b>LIÊN HỆ </b></h5>
                        <p>Số điện thoại : 0633 828958 </p>
                        <p>Số 01B Hồ Xuân Hương, phường 9, TP Đà Lạt, Tỉnh Lâm Đồng, Việt Nam</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 style="text-align:center;width:100%;"><b>Mạng xã hội</b></h5>
                        <ul style="list-style-type:none;text-align:center;width:100%;">
                            <li>
                                <a href="#" class="fa fa-facebook">@GlobalRes.TanPhuNong</a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter">@GlobalRes.TanPhuNong</a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google">@GlobalRes.TanPhuNong</a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-youtube">@GlobalRes.TanPhuNong</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%; height:300px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.2264620946535!2d108.47453814153675!3d11.95881670443595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112f7c1820379%3A0xccfd4d5b51849183!2zMi8xIEjhu5MgWHXDom4gSMawxqFuZywgUGjGsOG7nW5nIDksIFRwLiDEkMOgIEzhuqF0LCBMw6JtIMSQ4buTbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1510061656325" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </footer>
    @Scripts.Render("~/Scripts/jquery-3.2.1.slim.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/owl.carousel.js")
    <script>

        $(document).ready(function () {

            $("#owl-example").owlCarousel({

                loop: true,
                items: 1,
                singleItem: true,
                pagination: true,
                rewindSpeed: 500, slideSpeed: 300,
                paginationSpeed: 500,
                dots: false,
                touchDrag: false,
                mouseDrag: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoHeight: false,

            });
            $('#owl-mini-slider').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    768: {
                        items: 2,
                        nav: true
                    },
                    900: {
                        items: 3,
                        nav: true
                    }
                }

            })


            var targetElementID = 'nav';
            var classToAppend = 'locked';
            checktarget();
            var bodyRect = document.body.getBoundingClientRect(),
                elemRect = document.getElementById(targetElementID).getBoundingClientRect(),
                offset = elemRect.top - bodyRect.top;

            window.onscroll = function () { checkScroll() };
            window.onresize = function (event) {
                checktarget();
                bodyRect = document.body.getBoundingClientRect(),
                elemRect = document.getElementById(targetElementID).getBoundingClientRect(),
                offset = elemRect.top - bodyRect.top;
            }
            function checktarget() {
                if ($(window).width() <= 768) {
                    targetElementID = "tooget";
                    $('#nav[class="activehover"').toggleClass("activehover")
                            .next();
                }
            }
            function checkScroll() {


                if (elemRect) {
                    if (document.body.scrollTop > offset || document.documentElement.scrollTop > offset) {
                        if (!document.getElementById(targetElementID).className.includes(classToAppend)) {
                            document.getElementById(targetElementID).className = document.getElementById(targetElementID).className + ' ' + classToAppend;
                        }
                    } else {
                        document.getElementById(targetElementID).className = document.getElementById(targetElementID).className
                        .replace(' ' + classToAppend, '');
                    }
                }
            }

            $('.header-top  .main-menu .nav-menu ul> li').hover(function () {
                //    var submenu =  $(this);//.nextUntil('.submenu').parent();
                //    submenu.addClass('activehover');
                $(this).find('ul.submenu')
                 .toggleClass("activehover")
                 .next();
            });

            $('#tooget').click(function () {
                $(this).next('ul#nav')
                        .toggleClass("activehover")
                        .next();
            });

        });


    </script>

</body>
</html>
