<!DOCTYPE html>
<!-- saved from url=(0021)http://tanphunong.vn/ -->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tân Phú Nông - Vững bước cùng nhà nông - Tân Phú Nông</title>
   
    
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <style type="text/css">
        img#wpstats {
            display: none;
        }
    </style>
    <style type="text/css">
        a {
            color: #57AD68;
        }

        #site-title a {
            color:;
        }

            #site-title a:hover {
                color:;
            }

        .wrapper {
            background: #F8F8F8;
        }

        .social-icons ul li a {
            color: #d0d0d0;
        }

        #main-nav a, #main-nav a:hover, #main-nav a:focus, #main-nav ul li.current-menu-item a, #main-nav ul li.current_page_ancestor a, #main-nav ul li.current-menu-ancestor a, #main-nav ul li.current_page_item a, #main-nav ul li:hover > a {
            color: #fff;
        }

        .widget, article {
            background: #fff;
        }

        .entry-title, .entry-title a, .entry-title a:focus, h1, h2, h3, h4, h5, h6, .widget-title {
            color: #1b1e1f;
        }

            a:focus, a:active, a:hover, .tags a:hover, .custom-gallery-title a, .widget-title a, #content ul a:hover, #content ol a:hover, .widget ul li a:hover, .entry-title a:hover, .entry-meta a:hover, #site-generator .copyright a:hover {
                color: #439f55;
            }

        #main-nav {
            background: #57ad68;
            border-color: #57ad68;
        }

            #main-nav ul li ul, body {
                border-color: #439f55;
            }

            #main-nav a:hover, #main-nav ul li.current-menu-item a, #main-nav ul li.current_page_ancestor a, #main-nav ul li.current-menu-ancestor a, #main-nav ul li.current_page_item a, #main-nav ul li:hover > a, #main-nav li:hover > a, #main-nav ul ul :hover > a, #main-nav a:focus {
                background: #439f55;
            }

            #main-nav ul li ul li a:hover, #main-nav ul li ul li:hover > a, #main-nav ul li.current-menu-item ul li a:hover {
                color: #439f55;
            }

        .entry-content {
            color: #1D1D1D;
        }

        input[type="reset"], input[type="button"], input[type="submit"], .entry-meta-bar .readmore, #controllers a:hover, #controllers a.active, .pagination span, .pagination a:hover span, .wp-pagenavi .current, .wp-pagenavi a:hover {
            background: #57ad68;
            border-color: #57ad68 !important;
        }

        ::selection {
            background: #57ad68;
        }

        blockquote {
            border-color: #439f55;
        }

        #controllers a:hover, #controllers a.active {
            color: #439f55;
        }

        input[type="reset"]:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:active, input[type="button"]:active, input[type="submit"]:active, .entry-meta-bar .readmore:hover, .entry-meta-bar .readmore:active, ul.default-wp-page li a:hover, ul.default-wp-page li a:active {
            background: #439f55;
            border-color: #439f55;
        }
    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-image: url('@Url.Content("~/images/background.png")');
            background-repeat: repeat;
            background-position: top left;
            background-attachment: scroll;
        }
    </style>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/hovercard.css")
    @Styles.Render("~/Content/services.css")
    @Styles.Render("~/Content/nivo-slider.css")
    @Styles.Render("~/Content/default.css")
    
    
</head>
<body class="home page custom-background ">
    

<div class="wrapper">

<header id="branding">
    <div class="container clearfix">
        <div class="hgroup-wrap clearfix">
            <section class="hgroup-right"></section><!-- .hgroup-right -->
            <hgroup id="site-logo" class="clearfix">
                <h1 id="site-title">
                    <a href="http://tanphunong.vn/" title="Tân Phú Nông" rel="home">
                        Tân Phú Nông
                    </a>
                </h1>
                <h2 id="site-description">Công ty TNHH Sản xuất Dịch vụ Thương mại Tân Phú Nông</h2>

            </hgroup><!-- #site-logo -->
        </div><!-- .hgroup-wrap -->
    </div><!-- .container -->
    <nav id="main-nav" class="clearfix">
        <div class="container clearfix">
            <ul>
                <li class=" current-menu-item "><a href="#">Trang chủ</a></li>
                <li >
                    <a href="#">Sản phẩm</a>
                    <ul>
                        <li >
                            <a href="#">Phân bón</a>
                            <ul>
                                <li ><a href="#">Phân bón hữu cơ</a></li>
                                <li ><a href="#">Phân bón vô cơ</a></li>
                            </ul>
                        </li>
                        <li  >
                            <a href="#">Thuốc BVTV</a>
                            <ul >
                                <li><a href="#">Thuốc trừ sâu</a></li>
                                <li><a href="#">Thuốc trừ bệnh</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Đại lý</a></li>
                <li><a href="#">Đối tác</a></li>
                <li><a href="#">Thông tin</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
            <select>
                <option value="#" selected="selected">Trang chủ</option>
                <option value="#">Sản phẩm</option>
                <option value="#">- Phân bón</option>
                <option value="#">- - Phân bón hữu cơ</option>
                <option value="#">- - Phân bón vô cơ</option>
                <option value="#">- Thuốc BVTV</option>
                <option value="#">- - Thuốc trừ sâu</option>
                <option value="#">- - Thuốc trừ bệnh</option>
                <option value="#">Đại lý</option>
                <option value="#">Đối tác</option>
                <option value="#">Thông tin</option>
                <option value="#">Tuyển dụng</option>
                <option value="#">Liên hệ</option>
            </select>
        </div><!-- .container -->
    </nav><!-- #main-nav -->
</header>

<div id="main" class="container clearfix">
    <div class="container">
        <div class="widget">
            <!-- meta slider -->
            <div style="max-width: 1350px;">
                    <div class="theme-default">
                        <div id="metaslider_24" >
                            <img src="./images/bannertpn2-837x248.jpg"  >
                            <img src="./images/bannertpn1-1050x311.jpg" >
                            <img src="./images/slider-3-976x366-976x289.jpg" >
                            <img src="./images/lua-980x290.jpg" >
                            <img src="./images/tanphunongx-1350x400.jpg">
                         </div>
                    </div>
                <script type="text/javascript">
                    var metaslider_24 = function($) {
                        $('#metaslider_24').nivoSlider({
                            boxCols: 7,
                            boxRows: 5,
                            pauseTime: 3000,
                            effect: "random",
                            controlNav: false,
                            directionNav: true,
                            pauseOnHover: true,
                            animSpeed: 600,
                            prevText: "&lt;",
                            nextText: "&gt;",
                            slices: 15,
                            manualAdvance: false
                        });
                    };
                    var timer_metaslider_24 = function() {
                        var slider = !window.jQuery ? window.setTimeout(timer_metaslider_24, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_24, 1) : metaslider_24(window.jQuery);
                    };
                    timer_metaslider_24();
                </script>
            </div>
            <!--// meta slider-->
        </div>
    </div>
    <div id="container">

        <div id="content">
            <section class="page ">
                <article style="padding: 15px;">
                    @RenderBody()
                 
                </article>
            </section>
        </div><!-- #content -->
    </div><!-- #container -->

</div><!-- #main -->


<footer id="footerarea" class="clearfix">

    <div class="widget-wrap">
        <div class="container">
            <div class="widget-area clearfix">
                <div class="col-3">
                    <aside id="text-2" class="widget widget_text">
                        <h3 class="widget-title">Về chúng tôi</h3>
                        <div class="textwidget">
                            Công ty TNHH Sản xuất-Dịch vụ-Thương mại Tân Phú Nông là 1 doanh nghiệp chuyên kinh doanh trong lĩnh vực vật tư nông nghiệp, có trụ sở đặt tại số 1 đường Hồ Xuân Hương, phường 9, thành phố Đà Lạt, tỉnh Lâm Đồng.

                            – Công ty TNHH SX-DV-TM Tân Phú Nông được thành lập ngày 26/04/2005, sau 10 năm hoạt động Công ty đã từng bước trưởng thành và lớn mạnh (mở rộng), mang tính chuyên nghiệp cao.
                        </div>
                    </aside>
                </div>
                <div class="col-3">
                    <aside id="text-3" class="widget widget_text">
                        <h3 class="widget-title">Liên hệ</h3>
                        <div class="textwidget">
                            <b>Công ty TNHH Sản xuất-Dịch vụ-Thương mại Tân Phú Nông</b>
                            <br>
                            <b>Địa chỉ văn phòng </b>: Số 01B Hồ Xuân Hương, phường 9, TP Đà Lạt, Tỉnh Lâm Đồng, Việt Nam<br>
                            <b>Trung tâm phân phối</b>: Số 57 Hồ Xuân Hương, phường 9, TP Đà Lạt, Tỉnh Lâm Đồng, Việt Nam
                            <br>
                            Chăm sóc khách hàng:<br>
                            Cô Ngọc Thủy – Điện thoại: 0633 828958 – Di động: 0982785 629
                            <br>
                            Cô Hạnh Trang – Điện thoại: 063 3549797 – Di động: 0125 970 33 79
                            <br>
                            Cô Hồng Nhung – Điện thoại: 063 3810168 – Di động: 0986 873 037
                        </div>
                    </aside>
                </div>
                <div class="col-3">
                    <aside id="text-4" class="widget widget_text">
                        <h3 class="widget-title">Sản phẩm</h3>
                        <div class="textwidget">
                            <ul>
                                <li>1. Phân bón đất: Phân phức hợp, Phân đơn, Phân hữu cơ </li>
                                <li>
                                    2. Phân bón chuyên dụng cho hệ thống tưới nhỏ giọt
                                </li>
                                <li>3. Phân bón lá: Hữu cơ, Vô cơ, Kích thích tố sinh trưởng </li>
                                <li>
                                    4. Thuốc BVTV: Thuốc bệnh, Thuốc sâu, Thuốc diệt cỏ
                                </li>
                                <li>
                                    5. Vật tư nông nghiệp: Màng phủ nông nghiệp
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div><!-- .widget-area -->
        </div><!-- .container -->
    </div><!-- .widget-wrap -->

    <div id="site-generator">
        <div class="container">
            <div class="copyright">Copyright © 2017 <a href="#" title="Tân Phú Nông"><span>Tân Phú Nông</span></a>
            </div><!-- .copyright -->
            <div class="footer-right"></div>
            <div style="clear: both;"></div>
        </div><!-- .container -->
    </div><!-- #site-generator -->
    <div class="back-to-top" style="display: none;"><a href="#branding"></a>
    </div>
</footer>

</div><!-- .wrapper -->
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.nivo.slider.pack.js")
    
    <script>
        $(document).ready(function () {
            $(".back-to-top").hide();
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 1e3) {
                        $(".back-to-top").fadeIn();
                    } else {
                        $(".back-to-top").fadeOut();
                    }
                });
                $(".back-to-top a").click(function () {
                    $("body,html,header").animate({ scrollTop: 0 }, 1e3);
                    return false;
                });
            });
        });
    </script>
</body>
</html>
