@model DACN_TanPhuNong.Models.tb_BaiViet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Tin tức
        <small>Xóa tin tức</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "UngDung")"><i class="fa fa-dashboard"></i> Quản trị</a></li>
        <li><a href="@Url.Action("Index")"> Tin tức</a></li>
        <li><a class="active">Xóa tin tức</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Xóa tin tức</h3>
                </div>
                <div class="box-body">
                    <h3>Bạn có chắc chắn muốn xóa tin tức này?</h3>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.TieuDe)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TieuDe)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.HinhAnh)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HinhAnh)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TomTat)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TomTat)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.NoiDung)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NoiDung)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NgayViet)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NgayViet)
                            </dd>

                            

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Xóa" class="btn btn-default" /> |
                                @Html.ActionLink("Quay lại danh sách", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
