@using DACN_TanPhuNong.Models
@model DACN_TanPhuNong.Models.tb_SanPham

@{
    ViewBag.Title = GlobalRes.Detail;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Loại sản phẩm
        <small>Chi tiết loại sản phẩm</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "UngDung")"><i class="fa fa-dashboard"></i> Quản trị</a></li>
        <li><a href="@Url.Action("Index")"> Loại sản phẩm</a></li>
        <li><a class="active">Chi tiết loại sản phẩm</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Chi tiết loại sản phẩm</h3>
                </div>
                <div class="box-body">
                    <div>
                        <div class="row">
                            <ul class="tabs">
                                <li class="tab-link current" data-tab="tab-1"><img width="40" height="30" src="/images/vi_vuong.png" />@GlobalRes.VietNam </li>
                                <li class="tab-link" data-tab="tab-2"><img width="40" height="30" src="/images/en_vuong.png" />@GlobalRes.English </li>
                            </ul>

                            <div id="tab-1" class="tab-content current">
                                @{
                                    tb_SanPhamTrans spVi = ViewBag.SpVi;
                                }
                                <dl class="dl-horizontal">
                                    <dt>
                                       Tên sản phẩm
                                    </dt>

                                    <dd>
                                        @spVi.TenSanPhamTrans
                                    </dd>

                                    <dt>
                                        Ưu điểm
                                    </dt>

                                    <dd>
                                        @Html.Raw(spVi.UuDienTrans)
                                    </dd>

                                    <dt>
                                        Đặc điểm
                                    </dt>

                                    <dd>
                                        @Html.Raw(spVi.DacDiemTrans)
                                    </dd>

                                    <dt>
                                        Thành phần chính
                                    </dt>

                                    <dd>
                                        @Html.Raw(spVi.ThanhPhanChinhTrans)
                                    </dd>

                                    <dt>
                                        Lưu ý
                                    </dt>

                                    <dd>
                                        @Html.Raw(spVi.LuuYTrans)
                                    </dd>



                                    <dt>
                                        Cách dùng
                                    </dt>

                                    <dd>
                                        @Html.Raw(spVi.CachDungTrans)
                                    </dd>


                                    <dt>
                                        Thể loại
                                    </dt>

                                    <dd>
                                        asdasdd
                                    </dd>

                                </dl>
                            
                            </div>
                            <div id="tab-2" class="tab-content">
                                @{
                                    tb_SanPhamTrans spEn = ViewBag.SpEn;
                                }
                                <dl class="dl-horizontal">
                                    <dt>
                                        Name product
                                    </dt>

                                    <dd>
                                        @spEn.TenSanPhamTrans
                                    </dd>

                                    <dt>
                                        Advantage
                                    </dt>

                                    <dd>
                                        @Html.Raw(spEn.UuDienTrans)
                                    </dd>

                                    <dt>
                                        Characteristics
                                    </dt>

                                    <dd>
                                        @Html.Raw(spEn.DacDiemTrans)
                                    </dd>

                                    <dt>
                                        Main ingredient
                                    </dt>

                                    <dd>
                                        @Html.Raw(spEn.ThanhPhanChinhTrans)
                                    </dd>

                                    <dt>
                                        Note
                                    </dt>

                                    <dd>
                                       @Html.Raw(spEn.LuuYTrans)
                                    </dd>

                                    

                                    <dt>
                                        Use
                                    </dt>

                                    <dd>
                                        @Html.Raw(spEn.CachDungTrans)
                                    </dd>


                                    <dt>
                                        Category
                                    </dt>

                                    <dd>
                                        asdasdd
                                    </dd>

                                </dl>
                            </div>
                            </div>
                        <dl>
                            <dt>
                                @GlobalRes.Packing
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.QuyCachDongGoi)
                            </dd>

                            <dt>
                                @GlobalRes.Made_in
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.XuatXu)
                            </dd>
                        </dl>
                            <p>
                                @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }) |
                                @Html.ActionLink("Quay lại danh sách", "Index")
                            </p>
                        </div>
                    </div>
        </div>
    </div>
</section>
