@using DACN_TanPhuNong.Models
@model IEnumerable<DACN_TanPhuNong.Models.tb_SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @GlobalRes.Products
        <small>@GlobalRes.List_Products</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","UngDung")"><i class="fa fa-dashboard"></i> @GlobalRes.Admin</a></li>
        <li><a class="active">@GlobalRes.Products</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@GlobalRes.List_Products</h3>
                    <a href="@Url.Action("Create")" class="btn btn-primary" style="float: right">@GlobalRes.Add_new</a>
                </div>
                <div class="box-body">
                    <table id="datatable" class="table">
                        <thead>
                        <tr>
                            <th>
                                @GlobalRes.Product_Name
                            </th>
                            <th>@GlobalRes.Images</th>
                            
                            
                            <th>
                                @GlobalRes.Category
                            </th>
                            <th>Mo ta</th>
                            <th>
                                @GlobalRes.Made_in
                            </th>
                            
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                tb_SanPhamTrans sp = item.tb_SanPhamTrans.FirstOrDefault();
                                tb_LoaiSP lsp = item.tb_LoaiSP;
                                <tr>
                                    <td>@(sp==null?"":sp.TenSanPhamTrans)</td>
                                    <td><img src="@Url.Content(item.HinhAnh)" height="150px" /> </td>
                                    <td>@(lsp==null?"":lsp.tb_LoaiSPTrans.FirstOrDefault().TenLoaiSPTrans)</td>
                                    <td>@(lsp == null ? "" : lsp.tb_LoaiSPTrans.FirstOrDefault().MoTaTrans)</td>
                                    <td>@item.XuatXu</td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP }) |
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
                                    </td>
                                </tr>
                            }

                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@Styles.Render("~/Content/admin/dataTables.bootstrap.min.css")
@Scripts.Render("~/Scripts/admin/jquery.dataTables.min.js")
@Scripts.Render("~/Scripts/admin/dataTables.bootstrap.min.js")
<script>
    $("#datatable").DataTable();
</script>