@model DACN_TanPhuNong.Models.tb_DoiTac

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="post">
    <article>
        <header class="entry-header">
            <h2 class="entry-title">
                @Model.TenDT
            </h2><!-- .entry-title -->
        </header>
        <div class="entry-content clearfix">
            <p>&nbsp;</p>
            <p><b>Tên đại lý: </b> @Model.TenDT</p>

            <p><b>Địa chỉ: </b>@Model.DiaChi</p>
            <p><b>Số điện thoại: </b>@Model.SDT</p>
            <p><b>Email: </b>@Model.Email</p>
            <p><b>Website: </b><a href="@Model.WebsiteDT">@Model.WebsiteDT</a></p>

            <p>&nbsp;</p>

            @Html.Raw(Model.ChiTiet)
        </div>
        <div id="comments" class="comments-area">
        </div><!-- #comments .comments-area -->
    </article>
</section>
