@model DACN_TanPhuNong.Models.tb_DoiTac

@{
    ViewBag.Title = GlobalRes.Edit;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @GlobalRes.Partners
        <small>@GlobalRes.List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","UngDung")"><i class="fa fa-dashboard"></i>@GlobalRes.Admin</a></li>
        <li><a class="active">@GlobalRes.Partners</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@GlobalRes.Edit</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.MaDT)

                            <div class="form-group">
                                @Html.LabelFor(model => model.TenDT, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenDT)
                                    @Html.ValidationMessageFor(model => model.TenDT)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HinhAnh, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.HinhAnh, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HinhAnh)
                                </div>
                                <div class="col-md-2">
                                    <button type="button" onclick="chosseImage('HinhAnh')" class="btn btn-primary">Chọn hình</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink(@GlobalRes.back_to_list, "Index")
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>