@using DACN_TanPhuNong.Models
@model IEnumerable<DACN_TanPhuNong.Models.tb_SanPham>

@{
    ViewBag.Title = "AllByLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ul-product {
        list-style: none;
        margin-top: 1.75rem;
    }
    .ul-product li{
        padding:20px;
       
    }
    .ul-product li.active{
        color:#fff;
        background-color:yellow;
    }
    .content-prpduct{
        min-height:100%;
    }
    #list-product {
        border: 2px solid #000;
        margin-bottom: 1.75rem;
      
    }

</style>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <ul class="ul-product">
                    <li><a href="@Url.RouteUrl("LoaiSanPham",new {title=ViewBag.LoaiCurrent.TenLoaiSPTrans, id = ViewBag.LoaiCurrent.MaLoaiSP})">Tất cả</a></li>
                    @foreach (tb_LoaiSPTrans item in ViewBag.ListLSP)
                    {
                        <li>
                            <a href="javascript:;" data-id="@item.MaLoaiSP" data-text="@item.TenLoaiSPTrans">@item.TenLoaiSPTrans</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 content-product">
                <h3 class="title-category" style="text-align:center;">Tất cả</h3>
                <div class="row" id="list-product" style="min-height: @(ViewBag.ListLSP.Count*64)px">

                </div>
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
