@using DACN_TanPhuNong.Models
@model IEnumerable<DACN_TanPhuNong.Models.tb_SanPham>

@{
    ViewBag.Title = "AllByLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ul-product {
        list-style: none;
        margin-top: 1.75rem;
    }
    .ul-product li{
        padding:20px;
       
    }
    .ul-product li.active{
        color:#fff;
        background-color:yellow;
    }
    .content-prpduct{
        min-height:100%;
    }
    #list-product {
        border: 2px solid #000;
        margin-bottom: 1.75rem;
      
    }
    .item-product {
        position: relative;
        height:300px;
        text-align:center;
    }

    .image {
        height:100%;
        width:auto;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .item-product:hover .overlay {
        width: 100%;
    }

    .text-uudiem {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <ul class="ul-product">
                    <li><a href="@Url.RouteUrl("LoaiSanPham",new {title=ViewBag.LoaiCurrent.TenLoaiSPTrans, id = ViewBag.LoaiCurrent.MaLoaiSP})">Tất cả</a></li>
                    @foreach (tb_LoaiSPTrans item in ViewBag.ListLSP)
                    {
                        <li>
                            <a href="javascript:;" data-id="@item.MaLoaiSP" data-text="@item.TenLoaiSPTrans">@item.TenLoaiSPTrans</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 content-product">
                <h3 class="title-category" style="text-align:center;">Tất cả</h3>
                <div class="row" id="list-product" style="min-height: @(ViewBag.ListLSP.Count*64)px">
                    @foreach (var item in Model)
                    {
                        tb_SanPhamTrans trans = item.tb_SanPhamTrans.FirstOrDefault();
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 item-product">
                        <img src="@Url.Content(item.HinhAnh)" alt="Avatar" class="image">
                        <a href="#" style="top: 70%;font-weight: bold;color: white;background: #524f4fc7;width: 100%;position: absolute;left: 0;height: 20%;">@trans.TenSanPhamTrans
                        </a>
                        <div class="overlay">
                        <div class="text-uudiem">
                            <p>
                                @trans.UuDienTrans
                            </p>
                            <a href="@Url.RouteUrl("SanPhamDetails", new{title=trans.TenSanPhamTrans, id=trans.MaSP)" class="btn btn-custom" ></a>
                            </div>
                        </div>
                    </div>
                     }
                </div>
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.item-product  .img-name ').hover(function () {
            //    var submenu =  $(this);//.nextUntil('.submenu').parent();
            //    submenu.addClass('activehover');
            $(this).next('div.uu-diem')
             .toggleClass("activeuudiem")
             .next();
        });

    });
</script>