@using DACN_TanPhuNong.Controllers
@model DACN_TanPhuNong.Models.tb_SanPham
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var spTran = Model.tb_SanPhamTrans.FirstOrDefault();
    ViewBag.Title = spTran.TenSanPhamTrans;
}
<style>
    .content-post{
        background-color:#fff;
        color:#000;
        text-align:center;
        padding:30px;
    }
    .created {
        font-weight: bold;
    }

        .created::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 64px;
            height: 7px;
            margin-top: -4px;
            background: #fff;
            margin-right: 20px;
        }

        .created::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 64px;
            height: 7px;
            margin-top: -4px;
            background: #fff;
            margin-left: 20px;
        }
    .main-content{
        text-align:left;
    }
</style>
<div class="row" style="margin:50px">
    <div class="container">
        <div class="row">
            <div class="title-post">
                <img src="@Model.HinhAnh" style="height: 350px;" />
            </div>
            <div class="content-post">
                <h3 class="title-text">@spTran.TenSanPhamTrans</h3>
                <div class="main-content">
                    <h5><b>@GlobalRes.uu_diem</b></h5>
                    @Html.Raw(spTran.UuDienTrans.Replace("\r\n","<br/>"))
                    <br />
                    <h5><b>@GlobalRes.dac_diem</b></h5>
                    @Html.Raw(spTran.DacDiemTrans)
                    <br />
                    <h5><b>@GlobalRes.thanh_phan</b></h5>
                    @Html.Raw(spTran.ThanhPhanChinhTrans)
                    <br />
                    <h5><b>@GlobalRes.luu_y</b></h5>
                    @Html.Raw(spTran.LuuYTrans)
                    <br />
                    <h5><b>@GlobalRes.quy_cach_dong_goi:</b></h5>@Model.QuyCachDongGoi
                    <br />
                    <h5><b>@GlobalRes.xuat_xu:</b></h5>@Model.XuatXu
                    <br/>
                    <h5><b>@GlobalRes.cach_dung</b></h5>
                    @Html.Raw(spTran.CachDungTrans)
                </div>
                <div class="property">
                    
                </div>
               
            </div>
            <div class="row">
                <div class="fb-comments" data-width="100%" data-numposts="5"></div>
            </div>
        </div>
    </div>
</div>


